@media (width <= 1260px) {
  main {
    flex-direction: column;
    height: 80vh;
  }
  aside {
    width: calc(100% - 40px);
    height: auto;
  }
  .divGames {
    height: auto;

    img {
      width: calc(50% - 42px);
    }
  }
}
