main {
    display: flex;
}
aside {
    background-color: #222;
    width: calc(50% - 40px);
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;

    iframe {
        box-shadow: 0px 2px 10px #111;
    }
}
.divGames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: scroll;
    width: calc(50%);
    height: 100vh;

    div {
        cursor: pointer;
        width: calc(25% - 60px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;

        &:hover {
            background-color: #222;
            // span {
            //     color: #000;
            //     text-shadow: 0px 1px 2px #fff;
            // }
        }

        span {
            color: #999;
            text-shadow: 0px 1px 2px #000;
            font-size: 14px;
            padding: 10px;
            text-transform: capitalize;
            text-align: center;
        }
        img {
            filter: drop-shadow(0 0 8px #111);
            width: 100%;
            max-height: 200px;
            object-fit: contain;
        }
    }
}
