header {
    // background: linear-gradient(180deg, #7986cb, #3f51b5);
    background-color: #3f51b5;
    font-size: 18px;
    // text-transform: uppercase;
    text-align: center;
}

header a{
    color: #fff;
    text-decoration: none;
    padding:20px;
    display: inline-block;
}